@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #FEFEFE;
  --primary: #4380EC;
  --secondary: #E7760E;
  --tertiary: #FEF7F0;
  --text: #4B5563;
  --gilroy-regular: "GilroyRegular", sans-serif;
  --gilroy-bold: "GilroyBold", sans-serif;
  --gilroy-medium: "GilroyMedium", sans-serif;
  --gilroy-semibold: "GilroySemiBold", sans-serif;
  --gilroy-extrabold: "GilroyExtraBold", sans-serif;
  --gilroy-black: "GilroyBlack", sans-serif;
}

@font-face {
  font-family: "GilroyRegular";
  src: url("../pages//fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GilroyBold";
  src: url("../pages//fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GilroyMedium";
  src: url("../pages//fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GilroySemiBold";
  src: url("../pages//fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../pages//fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "GilroyBlack";
  src: url("../pages//fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
}

.gilroy-regular {
  font-family: var(--gilroy-regular);
}

.gilroy-bold {
  font-family: var(--gilroy-bold);
}

.gilroy-medium {
  font-family: "GilroyMedium", sans-serif;
}

.gilroy-semibold {
  font-family: "GilroySemiBold", sans-serif;
}

.gilroy-extrabold {
  font-family: "GilroyExtraBold", sans-serif;
}

.gilroy-black {
  font-family: "GilroyBlack", sans-serif;
}